:root {
  /*fontStyle*/
  --type-fontstyle-main: 'Raleway', Helvetica, Arial, sans-serif;
  --type-fontstyle-second: 'Spectral', Georgia, serif;

  /*fontSize*/
  --type-fontsize-small: 12px;
  --type-fontsize-medium: 16px;
  --type-fontsize-big: 20px;
  --type-fontsize-ultraLarge: 64px;

  /*fontColor*/
  --type-fontcolor-greyNormal: rgba(204, 204, 204, 1);

  /*shadowBox*/
  --type-shadow-blueDark: rgba(0, 1, 1, 1);
}
